<h3><i class="fas fa-book-reader"></i>Whimsie</h3>

<div class="section">
    <p class="lead">Propose Your Brainchildren for Your Team</p>
</div>

<div class="divider"></div>

<div class="section">
    <a href="/auth/google" class="btn red darken-1">
        <i class="fab fa-google left"></i> Login With Google
    </a>
</div>